.vscode/
.idea/
__pycache__/
*.egg-info
build
dist

# files from script downloads
openfold/resources/
tests/test_data/
cutlass/
*.txt
*.png
*.pdb
*.json
*.pkl
*.fasta
*.sto
*.a3m
*.hhr

# generated local archive test outputs
*.zarr/
vizfold_archive.zarr/
vizfold_archive.zip

# local script from archive team, used for manual smoke testing only
create_archive.py