.vscode/
.idea/
__pycache__/
*.egg-info
build
dist

# files from script downloads
openfold/resources/
tests/test_data/
cutlass/
*.txt
*.png
*.pdb
*.json
*.pkl
*.fasta
*.sto
*.a3m
*.hhr

# generated archive test outputs
*.zarr/
*.zip
vizfold_archive.zarr/
vizfold_archive.zip
create_archive.py